/** @format */

.container {
	max-width: 1185px;
}

.p20 {
	padding: 20px;
}

.p0 {
	padding: 0;
}

p {
	font-size: 17px;
}

img {
	max-width: 100%;
}

@media only screen and (max-width: 768px) {
	.p0-r {
		padding: 0px;
	}
}
